@model EntityLayer.Concrete.Admins


@{
    ViewData["Title"] = "Profil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

<h1 style="font-weight: bold; text-align: center; color: #7e3af2">PROFİL DÜZENLEME</h1>

@using (Html.BeginForm("Profil", "Home", FormMethod.Post))
{
    <div class="form-group">
        @Html.HiddenFor(x => x.AdminID, new { @class = "form-control" })
        <br />
        @Html.LabelForModel("Admin adı")
        @Html.TextBoxFor(x => x.İsim, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.İsim)
        <br />
        @Html.Label("Admin Soyadı")
        @Html.TextBoxFor(x => x.Soyisim, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Soyisim)
        <br />
        @Html.Label("Admin Mail")
        @Html.TextBoxFor(x => x.AdminMail, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.AdminMail)
        <br />
        @Html.Label("Admin Şifre")
        @Html.PasswordFor(x => x.AdminŞifre, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.AdminŞifre)
        <br />
        <br />
        <button class="btn btn-success">Değişiklikleri Kaydet</button>
    </div>
}