
@model EntityLayer.Concrete.Students

@{
    ViewData["Title"] = "AnaSayfa";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<br />
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>

<h1 style="font-weight: bold; text-align: center; color: #7e3af2;font-size:large;">BİLGİLERİM</h1>

@using (Html.BeginForm("AnaSayfa", "Student", FormMethod.Post))
{
    <div style="color: #7e3af2;font-weight:bold;" class="form-group">
        @Html.HiddenFor(x => x.StudentID, new { @class = "form-control" })
        <br />
        @Html.LabelForModel("Öğrenci Adı:")
        @Html.TextBoxFor(x => x.İsim, new { @class = "form-control", @readonly = "readonly" })
        <br />
        @Html.Label("Öğrenci Soyadı:")
        @Html.TextBoxFor(x => x.Soyisim, new { @class = "form-control", @readonly = "readonly" })
        <br />
        @Html.Label("Öğrenci TC Kimlik Numarası:")
        @Html.TextBoxFor(x => x.TCKimlikNumarasi, new { @class = "form-control", @readonly = "readonly" })
        <br />
        @Html.Label("Öğrenci Okul Numarası:")
        @Html.TextBoxFor(x => x.OkulNumarasi, new { @class = "form-control", @readonly = "readonly" })
        <br />
        @Html.Label("Öğrenci Sınıfı:")
        @Html.TextBoxFor(x => x.Sinif, new { @class = "form-control", @readonly = "readonly" })
        <br />
        @Html.Label("Öğrenci Şifre:")
        @Html.TextBoxFor(x => x.Sifre, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Sifre, "", new { @class = "text-danger font-weight-bold" })
        <br />
        <br />
        <button id="btn1" class="btn btn-success">Güncelle</button>
    </div>
}


<script>

    $('#btn1').click(function () {
        swal("Tebrikler!", "Şifreniz değiştirildi.", "success");
    });

</script>