
@model EntityLayer.Concrete.Students

@{
    ViewData["Title"] = "AnaSayfa";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<br />

<h1 style="font-weight: bold; text-align: center; color: #7e3af2;font-size:large;">BİLGİLERİM</h1>

<div style="color: #7e3af2;font-weight:bold;" class="form-group">
    @Html.HiddenFor(x => x.StudentID, new { @class = "form-control" })
    <br />
    @Html.LabelForModel("Öğrenci Adı:")
    @Html.TextBoxFor(x => x.İsim, new { @class = "form-control" })
    <br />
    @Html.Label("Öğrenci Soyadı:")
    @Html.TextBoxFor(x => x.Soyisim, new { @class = "form-control" })
    <br />
    @Html.Label("Öğrenci TC Kimlik Numarası:")
    @Html.TextBoxFor(x => x.TCKimlikNumarasi, new { @class = "form-control" })
    <br />
    @Html.Label("Öğrenci Okul Numarası:")
    @Html.TextBoxFor(x => x.OkulNumarasi, new { @class = "form-control" })
    <br />
    @Html.Label("Öğrenci Sınıfı:")
    @Html.TextBoxFor(x => x.Sinif, new { @class = "form-control" })
</div>